In [1]:
# Hay funciones que no devuelven nada
a = print("a")
type(a)

a

NoneType

In [2]:
# Y otras que sí...
l = [1, 3, 5, 7]
b = len(l)
type(b)

int

In [6]:
# Función sin parámetro ni retorno
def imprime_hola ():
  print("Hola")

imprime_hola()
imprime_hola()

Hola
Hola

In [12]:
# Función con parámetros
def suma3 (a, b, c):
  print("a: " + str(a))
  print("b: " + str(b))
  print("c: " + str(c))
  print(a + b + c)
  
suma3(5, 2, 8)

# Importante el ámbito (scope) de las variables
print("a: " + str(a))

a: 5
b: 2
c: 8
15
a: None

In [13]:
def incr1 (a):
  a = a + 1
  print(a)

a = 7
incr1(a)

print(a)

8
7

In [15]:
def manipula_lista (l):
  l.append(4)

l = [1, 2, 3]
manipula_lista(l)
print(l)

[1, 2, 3, 4]

In [17]:
p = [9, 3, 6, 5, 8]
pord = sorted(p)
print(p)
print(pord)

[9, 3, 6, 5, 8]
[3, 5, 6, 8, 9]

In [18]:
l = [2, 5, 7]
s = sum(l)
print(s)

14

In [23]:
def product (nums):
  p = 1
  for num in nums:
    p = p * num
  return p

prod = product(l)
print(prod)

70

In [63]:
# EJERCICIO 1
def earlychar (s):
  s = s.lower()
  min_char = chr(1000)
  min_ix = 0
  for i in range(len(s)):
    if s[i] < min_char:
      min_char = s[i]
      min_ix = i
  return min_char, min_ix

earlychar("holamundo")

('z', 0)

In [2]:
# EJERCICIO 1
def earlychar (s):
  s = s.lower()
  min_char = chr(1000)
  min_ix = 0
  ix = 0
  for char in s:
    if char < min_char:
      min_char = char
      min_ix = ix
    ix += 1
  return min_char, min_ix

char, ix = earlychar("holamundo")
print("El carácter más pequeño es " + char)

El carácter más pequeño es a

In [65]:
s = "hola"
len(s)
list(range(len(s)))

[0, 1, 2, 3]

In [10]:
# EJERCICIO 2
def sortstr (origs):
  sorts = ""
  while origs > '':
    # Añadir la letra más pequeña a sorts
    letrapeq, ixpeq = earlychar(origs)
    sorts = sorts + letrapeq
    # Eliminar la letra más pequeña de origs
    origs = origs[:ixpeq] + origs[ixpeq+1:]
  return sorts

sortstr("holamundo")

'adhlmnoou'

In [5]:
# "holamundo" -> ""
# "holmundo" -> "a"
# "holmuno" -> "ad"
# ...
# "" -> "adhlmnoou"

In [12]:
s = "holamundo"
a = earlychar(s)
letrapeq, ixpeq = a

<class 'tuple'>